<div class="row justify-content-center">

    <div class="col-8">

        <div class="container new-event">

            <h1 style="color: white">Create new event</h1>

            <form
                method="POST"
                action="/events/new"
                enctype="multipart/form-data"
            >
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                    />
                </div>

                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea
                        class="form-control"
                        id="description"
                        rows="3"
                        name="description"
                    ></textarea>
                </div>

                <div class="form-group">
                    <label for="date">Date</label>
                    <input
                        type="date"
                        class="form-control"
                        id="date"
                        name="date"
                    />
                </div>

                <div class="form-row">

                    <div class="form-group col-3">
                        <label for="city">City</label>
                        <input
                            type="text"
                            class="form-control"
                            id="city"
                            name="city"
                            required
                        />
                    </div>

                    <div class="form-group col-3">
                        <label for="street">Street</label>
                        <input
                            type="text"
                            class="form-control"
                            id="street"
                            name="street"
                            required
                        />
                    </div>

                </div>

                <div class="form-group">
                    <label for="event-image">Event Image</label>
                    <input
                        type="file"
                        class="form-control"
                        id="event-image"
                        name="image"
                    />
                </div>

                <button
                    type="submit"
                    class="btn btn-dark btn-block"
                >Submit</button>
            </form>
        </div>
    </div>

</div>