<div class="container">
    <div class="row justify-content-center spaceSi">
        <div class="col-md-4">

            <h3 class="loginCenter">SIGN UP</h3>
            <hr>
            <form action="/signup" method="POST" class="spaceOne">
                <div class="form-group">
                    <label for="username"></label>
                    <input placeholder="Username" type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input placeholder="Password" type="password" class="form-control" id="password" name="userPwd">
                </div>
                <br>
                <div class="centerPolicy">
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            <small>
                            I want to receive news and personalized commercial communications from devnet through
                            email and other means.</label>
                            </small>
                    </div>
                    <hr>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">
                            <small>
                            I have been able to read and understand the information on the use of my personal data
                            explained in the <a href="#">Privacy Policy</a>.
                            </small>
                        </label>
                    </div>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
                </div>
            </form>

            {{#if errorMsg}}
            <p id="errorMessage">{{errorMsg}}</p>
            {{/if}}

            <hr>
            <div class="d-flex justify-content-center">
                <p>Already have an account? -<a href="/login"> Login</a></p>
            </div>
        </div>
    </div>
</div>