<div class="container ">

    <div class="row">
        <h2 class="text">My profile</h2>

        <div class="col-md-12space">
            <div class="card color" style="width: 15rem;">
                <img src="{{image}}" alt="image">
                <br>
                Name : {{username}}
                <hr>
                <div class="">
                    <p class="textThree">Profession : {{description}}</p>
                </div>
                <hr>
                <h5 class="textTwo">Email : {{email}}</h5>
                <hr>
            </div>
        </div>
    </div>

</div>