<div class="container">


    <form action="/signup/info/{{id}}" method="POST" class="row g-3 pad" enctype="multipart/form-data">

        <h1>Complete your signup</h1>
        <br>

        <h5>Fill in the fields</h5>

        <hr>

        <div class="row mt-4">

            <div class="col-md-4">
                <label for="email" class="form-label">Email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>

            <div class="col-md-4">
                <label for="profession" class="form-label">Profession</label>
                <select id="profession" name="profession" class="form-select">
                    <option>WEB DEVELOPER</option>
                    <option>DATA ANALYTICS</option>
                    <option>DESIGN UX/UI</option>
                    <option>CIBERSECURITY</option>
                    <option>DEVOPS</option>
                    <option>MOBILE DEVELOPER</option>
                    <option>DESKTOP DEVELOPER</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="profile-image" class="form-label">Profile Image</label>
                <input type="file" class="form-control" id="profile-image" name="image">
            </div>

            <div class="col-md-12">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" name="description" rows="3"></textarea>
            </div>

            <div class="col-12 mt-5">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Enviar</button>
            </div>

        </div>


    </form>

</div>
