<form action="#" method="POST" class="row g-3 pad">

    <h3>Rellena los campos</h3>

    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>

    <div class="col-md-4">
        <label for="role" ></label>
        <input id="role" name="role" required>
        <select class="form-7565" aria-label="Default select example">
            <option selected>Role</option>
            <option value="">USER</option>
            <option value="">GUEST</option>
            <option value="">ADMIN</option>
        </select>
    </div>

    <div class="col-md-4">
        <label for="profession" class="form-label">Profession</label>
        <input type="text" class="form-control" id="profession" name="profession" required>
    </div>

    <div class="col-md-4">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" required>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>

</form>