<form action="#" method="POST" class="row g-3 pad">

    <h3>Fill in the fields</h3>

    <div class="col-md-4">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>

    <div class="col-md-3">
        <label for="profession" class="form-label">Profession</label>
        <select id="profession" name="profession" class="form-select">
            <option>WEB DEVELOPER</option>
            <option>DATA ANALYTICS</option>
            <option>DESIGN UX/UI</option>
            <option>CIBERSECURITY</option>
            <option>DEVOPS</option>
            <option>MOBILE DEVELOPER</option>
            <option>DESKTOP DEVELOPER</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" name="description" required>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Enviar</button>
    </div>

</form>