<div class="container container-top">


    <div class="row top-block align-items-center">

        <div class="col-12 col-xl-5 d-none d-xl-block">
            <div class="landing-illustration">
                <p class="logo-circle d-flex justify-content-center align-items-center">d.</p>
                <div class="bg-circle"></div>
            </div>
        </div>

        <div
            class="col-12 col-xl-7 landing-title d-flex flex-column justify-content-center align-items-center align-items-xl-start">

            <h2 class="text-center">The social hub for</h2>
            <h2 class="blue text-center typewriter"></h2>

            <div class="landing-buttons d-flex align-items-center justify-content-center justify-content-xl-end">
                <a href="/signup" type="button" class="btn">register</a>
                <a href="/login" type="button" class="btn-muted">log in</a>
            </div>

        </div>

    </div>
</div>

<div class="scroll-icon d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="white" class="bi bi-mouse" viewBox="0 0 16 16">
        <path
            d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm4 8a4 4 0 0 1-8 0V5a4 4 0 1 1 8 0v6zM8 0a5 5 0 0 0-5 5v6a5 5 0 0 0 10 0V5a5 5 0 0 0-5-5z">
        </path>
    </svg>
</div>

<div class="cards-block">
    <div class="row">

        <div
            class="col-12 col-lg-3 d-flex flex-column align-items-center justify-content-center mb-5 mb-lg-0 mt-5 mr-2">
            <p class="card-quote">
                <br>
                "the social hub that helps you communicate and share events with people around the globe!"
            </p>
        </div>

        <div class="col-12 col-lg-3 mb-5 mb-lg-0">

            <div class="landing-card card">
                <a href="/events/list" class=" stretched-link"></a>

                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                    alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Check Events</h5>
                    <p class="card-text">Join and create events to take
                        networking to the next level.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 mb-5 mb-lg-0">
            <div class="landing-card card">
                <a href="/community" class=" stretched-link"></a>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1504270997636-07ddfbd48945?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80"
                    alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">Community</h5>
                    <p class="card-text">We welcome you to your professional community.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-3 mb-5 mb-lg-0">
            <div class="landing-card card">
                <a href="/news" class=" stretched-link"></a>
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                    alt="Card image cap" />
                <div class="card-body">
                    <h5 class="card-title">See news</h5>
                    <p class="card-text">Find out which topics are the most talked about at the moment.
                        Find the latest news on technology innovation on devnet.</p>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="../js/typwriter-effect.js"></script>