body {
  font-family: sans-serif;
  font-weight: 200;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}
.navbar {
  margin-bottom: 40px;
}

#errorMessage {
  background-color: red;
  color: white;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

.loginCenter {
  text-align: center;
}

.space {
  padding: 30px ;
}
.icon-user:before {
  content: "\e971";
}

.centerPolicy {
  text-align:justify;
  font-style: italic;
}